<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI_53" />
            <add name="PHP_via_FastCGI_72" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\v7.2\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
