/**
 * Style sheet for CalendarPickerControl
 * darkred theme.
 */

.calendarbutton{
	width:22px;
	height:16px;
	
}

#CalendarPickerControl{
	background-color:transparent;
	width: 250px;
	height: 200px;
}

#CalendarPickerControl table.calframe{
	width:100%;
	border:1px solid white;
	border-color:white;
	background-color: #FFFFCC;
	text-align:center;
}

#CalendarPickerControl td.monthname{
	width:100%;
	font:normal 13px Verdana;
	color:white;
	font-weight:bold;
	text-align:center;
	background-color:#669900;
}

#CalendarPickerControl table.navigation{
	width:100%;
	text-align:center;
}

#CalendarPickerControl td.navbutton{
	font:normal 11px Verdana;
	color:#996600;
	font-weight:bold;
	text-align:center;
	background-color:#FFFFCC;
	cursor:pointer;
}

#CalendarPickerControl span.yearbutton{
	cursor:pointer;
}

#CalendarPickerControl span.yearbutton:hover{
	text-decoration:underline;
}

#CalendarPickerControl td.navbutton:hover{
	background-color:#669933;
	color:white;
	text-decoration:underline;
}

#CalendarPickerControl td.dayname{
	font:normal 11px Verdana;
	color:white;
	font-weight:bold;
	text-align:center;
	background-color:#669900;
}

#CalendarPickerControl td.today{
	font:bold 11px Verdana;
	background-color:#FFFFCC;
	color:black;
	text-decoration:none;
	cursor:pointer;
}

#CalendarPickerControl td.today:hover{
	text-decoration:underline;
}

#CalendarPickerControl td.current{
	font:normal 11px Verdana;
	font-weight:bold;
	background-color:#555555;
	color:white;
	text-decoration:none;
	cursor:pointer;
	border: 1px solid black;
}

#CalendarPickerControl td.current:hover{
	text-decoration:underline;
}


#CalendarPickerControl td.day{
	font:normal 11px Verdana;
	background-color:#FFFFCC;
	color:black;
	text-decoration:none;
	cursor:pointer;
	border: 1px solid transparent;
}

#CalendarPickerControl td.day:hover{
	text-decoration:underline;
	background-color:#ABABAB
}

#CalendarPickerControl td.weekend{
	font:normal 11px Verdana;
	color:black;
	text-decoration:none;
	background-color:#FFFFCC;
	font-style:italic;
	border: 1px solid transparent;
	cursor:pointer;
}

#CalendarPickerControl td.weekend:hover{
	background-color:#999999;
	text-decoration:underline;
}

#CalendarPickerControl td.dayothermonth{
	font:normal 11px Verdana;
	background-color:#F2F2F2;
	color:#AAAAAA;
	border: 1px solid #F2F2F2;
}

#CalendarPickerControl td.weeknumber{
	font:normal 9px Verdana;
	background-color: white;
	color: #AAAAAA;
	border-width: 0px;
}
