.bgcolor {   
	filter:progid:DXImageTransform.Microsoft.Gradient   
	(GradientType=1,StartColorStr='#ffffffff',EndColorStr='#5D8235');   
} 
.fieldname
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.fieldname_right
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
	text-align:right;
}
.values
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none;
}
.tablehdr
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
	background-color: #2e8b57;
}
.required
{
    FONT-SIZE: 12pt;
    COLOR: #cc0000;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.requiredtext
{
    FONT-SIZE: 8pt;
    COLOR: #cc0000;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.enabledText
{
    FONT-SIZE: 8pt;
    VISIBILITY: visible;
    FONT-FAMILY: Arial
}
.disabledText
{
    FONT-SIZE: 8pt;
    VISIBILITY: visible;
    COLOR: gray;
    FONT-FAMILY: Arial
}
.requiredRed
{
    FONT-SIZE: 14pt;
    COLOR: red;
    FONT-FAMILY: Arial
}
.requiredBlue
{
    FONT-SIZE: 14pt;
    COLOR: blue;
    FONT-FAMILY: Arial
}
.requiredYellow
{
    FONT-SIZE: 14pt;
    COLOR:#FFFF33;
    FONT-FAMILY: Arial
}

.show
{
    VISIBILITY: visible
}
.hidden
{
    DISPLAY: none;
    VISIBILITY: hidden
}
.currentPage
{
    FONT-SIZE: 8pt;
    COLOR: darkblue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.homestyle
{
    FONT-SIZE: 10pt;
	color: #CC0000;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
